.custom-navbar {
    background-color: #fa981d;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 1rem; 
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
  }

.custom-logo {
    cursor: pointer;
}

.custom-links {
    padding: 1rem;
    padding-right: 1rem;
}

.separation {
    gap: 1.5rem;
}

.nav-link{
    text-decoration: none;
    transition: color 0.3s ease;
    color: #ffffff;
}

.nav-link:hover {
    color: #eef5cd;
}


@media (min-width: 992px) {
    .custom-navbar {
        font-size: 1.5rem;
        padding: 2rem;
    }

    .separation {
        gap: 3rem;
        margin-left: 2rem;
    }

    .buttom-empieza {
        padding: 0.75rem 1.5rem;
        font-size: 1.5rem;
    }
}